<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.hour.quarter_activity">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- QQ登录授权所需权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".utils.MyApplication"
        android:allowBackup="true"
        android:configChanges="orientation|screenSize|keyboardHidden"
        android:icon="@mipmap/wanke"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:name">
        <activity android:name=".view.activity.Welcome_Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.activity.Home_Activity" />
        <activity android:name=".view.activity.uploadactivity.UpLoadActivity" />
        <activity android:name=".view.activity.sideactivity.Login_Activity" />
        <activity android:name=".view.activity.sideactivity.logactivity.Log_Activity" />
        <activity android:name=".view.activity.sideactivity.logactivity.Register_Activity" />
        <activity android:name=".view.activity.sideactivity.Follow_Activity" />
        <activity android:name=".view.activity.sideactivity.Collection_Activity" />
        <activity android:name=".view.activity.sideactivity.Search_Activity" />
        <activity android:name=".view.activity.sideactivity.Notice_Activity" />
        <activity android:name=".view.activity.sideactivity.Works_Activity" />
        <activity android:name=".view.activity.uploadactivity.ReleaseActivity" />
        <activity android:name=".view.activity.sideactivity.Setup_Activity" />

        <!-- 注册SDKActivity -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="1105602574" /> <!-- 开放平台获取的APPID -->
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".view.activity.HotsActivity"
            android:label="@string/title_activity_hots"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>